.App {
  font-family: 'Source Sans Pro', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-container {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.card {
  width: 700px;
  border: 1px solid #CCCCCC;
  border-radius: 10px
}

.image-container {
  width: 100%;
  position: relative;
}

.image-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-container h2 {
  position: absolute;
  bottom: 20px;
  left: 35px;
  padding: 8px 15px;
  background: rgba(0,0,0, 0.4);
  border-radius: 1px;
  color: white;
  font-size: 1.1rem;
}

.card-info {
  width: 90%;
  margin: 0 auto;
}

.card-info h1 {
  font-weight: 600;
}

.card-info p {
  line-height: 1.5;
}